<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">

    <table cellspacing="0"><tr>
        <td><mat-form-field appearance="standard">
            <mat-label>ID</mat-label>
            <input matInput #idProduct type="number" disabled>
        </mat-form-field></td>
        <td><mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput #name maxlength="200">
        </mat-form-field></td>
    </tr></table>

    <mat-form-field appearance="standard">
        <mat-label>Category</mat-label>
            <input matInput #category maxlength="100">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
            <textarea matInput #description maxlength="2000" cdkTextareaAutosize></textarea>
            <mat-hint align="end">{{description.value?.length || 0}}/2000</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Price</mat-label>
            <input matInput #currentPrice type="number" min="0" step="0.01">
            <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Stock</mat-label>
            <input matInput #stock type="number" min="0" max="999999">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Purchases</mat-label>
            <input matInput #purchases type="number" disabled>
    </mat-form-field>

    <div class="button-row">
        <button mat-flat-button color="accent" class="button" type="submit">Save</button>
        <button mat-flat-button color="primary" (click)="goBack()">Go back</button>
    </div>

</form>
