<div class="center">
    <mat-form-field appearance="fill">
        <mat-label>Choose a month</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" [value]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker
                        startView="multi-year"
                        (monthSelected)="chosenMonthHandler($event, picker)">
        </mat-datepicker>
    </mat-form-field>
</div>

<div class="background">
    <h1>{{ date | date:'MMMM' }} {{ date | date:'y' }}</h1>
</div>
<div class="row">
    <div class="column">
        <h1>{{ stats[0] }}</h1>
        <h3>units sold</h3>
    </div>
    <div class="column">
        <a mat-raised-button color="primary" routerLink="/stats/graph">Graph</a>
    </div>
    <div class="column">
        <h1>${{ stats[1] }}</h1>
        <h3>in sales</h3>
    </div>
</div>

