form {
    margin: auto;
    width: 70%;
}
  
table, .mat-form-field {
    width: 100%;
    padding-right: 8px;
}

button {
    margin-right: 15px;
}

.button-row {
    margin: auto;
    width: 25%;
}